<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
    <table class="body">
      <tr>
        <td>
          <center>
        
           <spacer size="15"></spacer>
           <container>
              <img src="../images/top-image.png" alt="top-image" />
              <row>
                <columns class="large-6">
                  <spacer size="16"></spacer>
                  <p class="header__greeting text-center">Привет, Александр!</p>
                </columns>
              </row>
           </container>
           <spacer size="1"></spacer>
           <container>
             <spacer size="70"></spacer>
             <row>
               <columns class="large-1"></columns>
               <columns class="small-12 large-10">
                 <p  class="invitation text-center">Marlboro приглашает тебя принять участие в борьбе за поездку на</p>
                 <p  class="event text-center">2016 FORMULA 1 RUSSIAN GRAND PRIX в VIP-зону «M.SCAPE»</p>
               </columns>
               <columns class="large-1"></columns>
             </row>
             <spacer size="20"></spacer>
           </container>
             <container>
               <row>
                 <columns class="small-2 large-4"></columns>
                 <columns class="small-8 large-4">
                  <div class="decorative-line"></div>
               </columns>
                 <columns class="small-2 large-4"></columns>
               </row>
              </container>
             <container>
             <row>
               <columns class="small-8 large-4">
                 <h1 class='text-center text-uppercase'>Ты сможешь стать частью захватывающего мира формулы 1:</h1>
               </columns>
             </row>
             <row>
               <columns class="advantages__item small-12 large-6">
                 <spacer size="12"></spacer>
                 <img  class="text-center" src="../images/shlem.png" alt="Shlem"/>
                 <spacer size="12"></spacer>
                 <p class="text-center">познакомиться с прославленными пилотами команды Scuderia Ferrari</p>
                </div>
               </columns>
               <columns class="advantages__item small-12 large-6">
                 <img class="text-center" src="../images/globe.png" alt="Shlem"/>
                 <spacer size="10"></spacer>
                 <p class="text-center">выпить бокал шампанского наблюдая за гонкой с лучших мест</p>
               </columns>
            </row>
            <row>
               <columns class="advantages__item small-12 large-6">
                 <spacer size="14"></spacer>
                 <img class="text-center" src="../images/bludo.png" alt="Shlem"/>
                 <spacer size="13"></spacer>
                 <p class="text-center">насладиться блюдами высокой кухни</p>
               </columns>
               <columns class="advantages__item small-12 large-6">
                 <spacer size="7"></spacer>
                 <img class="text-center" src="../images/plastinka.png" alt="Shlem"/>
                 <spacer size="10"></spacer>
                 <p class="text-center">попасть на самые ожидаемые вечеринки года</p>
               </columns>
             </row>
             <row>
               <columns class="large-1"></columns>
               <columns class="large-10">
                 <p class="text-center">FORMULA 1™ – это состязание успешных людей, для которых гонка – это только начало.</p>
               </columns>
               <columns class="large-1"></columns>
             </row>
             <row>
              <columns class="small-2 large-4"></columns>
               <columns class="small-8 large-4">
                <div class="decorative-line"></div>
               </columns>
               <columns class="small-2 large-4"></columns>
             </row>
             <row>
               <columns class="small-8 large-4">
                 <h1 class='text-center text-uppercase'>Ты готов?</h1>
               </columns>
             </row>
             <row>
               <columns class="small-12 large-8">
                 <p class='text-center'>Смотри видео с лидером команды Формула 1 Scuderia Ferrari Себастьяном Феттелем, где он расскажет тебе о том, что необходимо сделать, чтобы принять участие в конкурсе.</p>
               </columns>
             </row>
             <row>
               <img class="text-center" src="../images/player.png" alt="player"/>
             </row>
             <spacer size='20'>
             <row>
               <columns class="racer_name">
                <p class="text-center">Себастьян Феттель</p>
                <p class="text-center">Пилот команды Ferrari / четырехкратный чемпион мира</p>
               </columns>
             </row>
             <row>
               <columns>
                  <center>
                  <button class="radius text-center">ПОДРОБНЕЕ</button>
                  </center>
               </columns>
             </row>
             <spacer size='20'>
             <row>
               <div class="decorative-line-red"></div>
             </row>
           </container>
           <container style="background: #f5f5f5">
            <spacer size='5'>
            <img src="../images/smoking-kills.png" alt="Курение убивает" />
            <row>
        
                <p style="color: #adadad; font-size: 12px;">Вы получили это сообщение, так как подтвердили свое согласие компании ООО «Филип Моррис Сэйлз энд Маркетинг» на получение сообщений. Это персональное сообщение адресовано исключительно Вам и не должно быть переадресовано другим лицам. Любое иное лицо, случайно или намеренно получившее доступ к этому сообщению, не может воспользоваться предложениями и возможностями, которые приведены в настоящем сообщении. Данная информация предназначается только для лиц старше 18 лет, которые являются потребителями табачной продукции. Если Вы не хотите получать информацию от компании ООО «Филип Моррис Сэйлз энд Маркетинг»,то подтвердите свой отказ от получения рассылок. Пожалуйста, не отвечайте на данное сообщение, так как ответ по электронной почте мы не сможем получить.</p>
                <p style="color: #adadad; font-size: 12px;">В случае, если информация, содержащаяся в данном сообщении, была получена Вами вследствие возникновения технических ошибок отправки данного сообщения компанией ООО «Филип Моррис Сэйлз энд Маркетинг» или третьими лицами, то требования, обязательства и иные отношения, следующие из данного сообщения, не могут быть выполнены компанией; такие ошибки не могут считаться предумышленными и/или становиться предметом судебного разбирательства. Компания ООО «Филип Моррис Сэйлз энд Маркетинг» не несет ответственность за любые убытки, имеющие отношение или возникающие в результате получения Вами настоящего сообщения, в том числе в результате каких-либо ошибок, прерываний связи, неисправностей, задержек, компьютерных вирусов, потери какой-либо прибыли или информации, несанкционированного доступа к Вашей информации третьими лицами.</p>
              
            </row>
           </container>
                
          </center>
        </td>
      </tr>
    </table>
    
    
</body>
</html>
